body
{
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}

#camera
{
    width:500px;
    height:400px;
    border:3px solid black;
}

img
{
    width:40%;
    border-radius:5px;
    padding:10px;
    box-shadow:0 6px 8px 0 black;
}

.column
{
    display:inline;
    padding:10px;
}

img:hover
{
    border-radius:150px;
}

.copy_right_footer
{
    position:fixed;
    color:white;
    background:black;
    bottom:0;
    width:100%;
    text-align:center;
}